<footer class="main-footer container">
    <div class="row">
        <div class="col-md-12 text-center text-muted" id="footer-content">
            © 2015 - <%- date(new Date(), 'YYYY') %>
            <b class="gap">/</b>Chenset<b class="gap">/</b><a style="color:#000"
                    target="_blank"
                    href="/sitemap.xml">SiteMap</a><b class="gap">/</b><a target="_blank"
                    style="color:#000"
                    href="https://github.com/chenset"><i class="icon iconfont icon-github"></i> GitHub</a><b class="gap">/</b><a
                    target="_blank"
                    href="https://www.upyun.com"><img
                        style="height: 33px"
                        src="<%- '' %>/img/upyun_logo_90x45.png"/></a>
        </div>
    </div>
</footer>
