<footer class="main-footer container">
    <div class="row">
        <div class="col-md-12 text-center text-muted" id="footer-content">
            <a style="color:#000" href="/links/">Links</a>
            <b class="gap">/</b>
            <a style="color:#000"
                    target="_blank"
                    href="/sitemap.xml">SiteMap</a>
            <b class="gap">/</b>
            <a target="_blank"
                    style="color:#000"
                    href="https://github.com/chenset">GitHub</a>
            <br/>
            © 2015 - <%- date(new Date(), 'YYYY') %>
            <b class="gap">/</b>Chenset

        </div>
    </div>
</footer>
