<footer class="main-footer container">
    <div class="row">
        <div class="col-md-12 text-center text-muted">
            © <%- date(new Date(), 'YYYY') %>
            <b class="gap">/</b>Chenset<b class="gap">/</b><a target="_blank"
                    class="text-muted"
                    href="https://github.com/chenset">GitHub</a>
        </div>
    </div>
</footer>