<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <span class="main-logo-wrap">
                    <a id="main-logo"
                            href="<%- url_for('/') %>"><span style="color:#ff5252">F</span><span style="color:#cc9966">l</span><span style="color:#41B883">y</span> <span style="color:#01AAED">S</span><span style="color:#cc9966">a</span><span style="color:#41B883">y</span></a></span>
                <nav>
                    <ul>
                        <% for (var i in theme.menu){ %>
                        <li class="cl-effect-16"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-4">
                <%- search_form({text: ''}) %>
            </div>
        </div>
    </div>
</header>
