<header class="main-header container">
    <div class="row">
        <div class="col-md-12 text-right">
            <% for (var i in theme.menu){ %>
            <a class="text-muted" style="margin-left: 50px;" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
            <% } %>
        </div>
    </div>
</header>
