<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <strong class="main-logo-wrap">
                    <a id="main-logo"
                            href="<%- url_for('/') %>">FlySay - Chenset</a></strong>
                <nav>
                    <ul>
                        <% for (var i in theme.menu){ %>
                        <li class="cl-effect-16"><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-4">
                <%- search_form({text: ''}) %>
            </div>
        </div>
    </div>
</header>
