/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

@keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

.hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.hvr-ripple-out:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-radius: 50%
}

.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
}

/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
}

.cl-effect-4 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #555;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-5px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
    height: 1px;
    opacity: 1;
    transform: translateY(0px);
}

/* Effect 4: bottom border enlarge End*/

/* Effect 21: borders slight translate */
.cl-effect-21 a {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    padding:7px;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    color: #000;
    font-weight: 700;
    text-shadow: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
    position: absolute;
    left: 0;
    width: 80%;
    margin-left: 10%;
    height: 2px;
    background: #222;
    content: '';
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateY(-10px);
}

.cl-effect-21 a::before {
    top: 0;
    transform: translateY(-10px);
}

.cl-effect-21 a::after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus,.cl-effect-21 a.active {
    color: #222;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after,
.cl-effect-21 a.active::before,
.cl-effect-21 a.active::after{
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/* Effect 21: borders slight translate End*/

body {
    position: relative;
    font-family: Lato, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', "lucida grande", Arial, "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #555;
    /*background: #f1f4f6;*/
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
}

::selection {
    background: #efefef;
}

a {
    color: #555;
    text-decoration: none !important;
}

a:hover {
    color: #F5871F;
}

li {
    list-style: none;
}

.title2 {
    color: #555;
}

.title1 {
    color: #F5871F;
}

.title1, .title2 {
    letter-spacing: 1px;
    font-size: 2em;
    /*font-weight: 600;*/
}

.title1 a {
    letter-spacing: 1px;
    color: #F5871F;
}

.title1 a:hover {
    color: #555 !important;
}

.text-muted {
    color: #888;
}

.hljs {
    background: #f7f7f7;
}

.main-header {
    background: #eee;
    /*height: 100px;*/
    /*line-height: 100px;*/
    margin-bottom: 60px;
}



.main-logo-wrap{
    float: left;
    font-size: 16px;
    margin-top: 24px;
    display: inline-block;
}

.main-header ul {
    float: left;
    display: inline-block;
}
.main-header ul li {
    height: 100px;
    line-height: 115px;
    float: left;
    margin-right: 20px;
    color: #444;
}

.main-footer {
    height: 300px;
    line-height: 300px;
}

.gap {
    color: #555;
    margin: 0 10px;
    font-weight: 800;
}

td.gutter {
    padding-left: 10px;
    padding-right: 15px;
}

.content-wrap {
    background: #FFFFFF;
}

.content-wrap a {
    border-bottom: 1px solid #e3e3e3;
}

.content-wrap a:hover {
    border-bottom-color: #F5871F;
    color: #F5871F;
}

.article-directory {
    background: #F7F7F7;
    border: 1px dashed #F5871F;
}

.article-directory ol.toc {
    padding-top: 20px;
    padding-bottom: 10px;
}

.article-directory-hash {
    font-size: 30px;
    margin-right: 18px;
    font-weight: 800;
    color: #555;
}

.article-header {
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
}

.article-header a {
    border-bottom: none;
}

.article-meta {
    padding: 15px 0;
}

.article-content, .tags-content {
    font-size: 16px;
    padding: 50px 0 70px;
}

.tags-content a {
    margin: 10px;
}

a.toc-link {
    border-bottom: none;
}

.scroll-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #dfdfdf;
    border-radius: 50%;
    text-align: center;
    font-weight: 800;
    color: #555
}
