/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

@keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

.hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.hvr-ripple-out:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-radius: 50%
}

.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
}

/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
}

.cl-effect-4 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #666;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-5px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
    height: 1px;
    opacity: 1;
    transform: translateY(0px);
}

/* Effect 4: bottom border enlarge End*/

body {
    position: relative;
    font-family: Lato, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', "lucida grande", Arial, "PingFang SC", "Microsoft YaHei", sans-serif;
    line-height: 2;
    color: #666;
    /*background: #f1f4f6;*/
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
}

::selection {
    background: #efefef;
}

a {
    color: #666;
    text-decoration: none !important;
}

a:hover {
    color: #666;
}

li {
    list-style: none;
}

.title2 {
    color: #666;
}

.title1 {
    color: #666;
}

.title1, .title2 {
    letter-spacing: 1px;
    font-size: 2em;
    /*font-weight: 600;*/
}

.title1 a {
    letter-spacing: 1px;
    color: #666;
}

.title1 a:hover {
    color: #333 !important;
}

.text-muted {
    color: #888;
}

.hljs {
    background: #f7f7f7;
}

.main-header {
    margin-bottom: 20px;
    height: 100px;
    line-height: 100px;
}

.main-logo-wrap {
    float: left;
    font-size: 18px;
    display: inline-block;
}

.main-header ul {
    float: left;
    display: inline-block;
}

.main-header ul li {
    float: left;
    margin-right: 20px;
    color: #444;
}

.main-footer {
    height: 300px;
    line-height: 300px;
}

.gap {
    color: #666;
    margin: 0 10px;
    font-weight: 800;
}

td.gutter {
    color: #9D2E2E;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid #e9e9e9;
}

td.code {
    padding-left: 8px;
}

.content-wrap {
    background: #FFFFFF;
}

.content-wrap a {
    border-bottom: 1px solid #e3e3e3;
}

.content-wrap h3, .content-wrap h4, .content-wrap h5, .content-wrap h6 {
    font-weight: 600;
}

.content-wrap a:hover {
    border-bottom-color: #333;
    color: #333;
}

.article-directory {
    background: #F7F7F7;
    border: 1px dashed #666;
}

.article-directory ol.toc {
    padding-top: 20px;
    padding-bottom: 10px;
}

.article-directory li.toc-item {
    line-height: 30px;
}

.article-directory-hash {
    font-size: 16px;
    margin-right: 3px;
    font-weight: 400;
    color: #666;
}

.article-header {
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
}

.article-header a {
    border-bottom: none;
}

.article-meta {
    padding: 15px 0;
}

.article-content, .tags-content {
    font-size: 14px;
    padding: 30px 0 70px;
}

.article-tag-link::before {
    content: ' # ';
    font-size: 12px;
}

.tags-content a {
    margin: 10px;
}

a.toc-link {
    border-bottom: none;
}

.scroll-to-top {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #dfdfdf;
    border-radius: 50%;
    text-align: center;
    font-weight: 800;
    color: #666
}
