/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
}

.cl-effect-4 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #666;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-5px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
    height: 1px;
    opacity: 1;
    transform: translateY(0px);
}

/* Effect 4: bottom border enlarge End*/

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(//fonts-gstatic.lug.ustc.edu.cn/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(//fonts-gstatic.lug.ustc.edu.cn/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/*For pjax*/
article, .main-header a, .main-header input, #footer-content {
    visibility: hidden;
}

body {
    position: relative;
    font-family: Lato, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', "lucida grande", Arial, "PingFang SC", "Microsoft YaHei", sans-serif;
    line-height: 2;
    color: #666;
    /*background: #f1f4f6;*/
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
}

*:focus {
    outline: none;
}

::selection {
    background: #efefef;
}

a {
    color: #666;
    text-decoration: none !important;
}

a:hover, a:focus {
    color: #111;
}

li {
    list-style: none;
}

.title1, .title2 {
    margin: 10px 0;
    color: #333;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: 400;
}

.title1 a {
    letter-spacing: 1px;
    color: #333;
}

.title1 a:hover {
    color: #333 !important;
}

.text-muted {
    color: #bbb;
}

.main-header {
    height: 100px;
    margin-bottom: 50px;
}

.main-logo-wrap {
    margin-top: 34px;
    float: left;
    font-size: 18px;
}

.main-logo-wrap a {
    background: #efefef;
    color: #333;
    padding: 0 7px;
}

.main-logo-wrap a:hover {
    color: #000;
}

.main-header ul {
    margin-top: 37px;
    float: left;
    display: inline-block;
}

.main-header ul li {
    float: left;
    margin-right: 20px;
}

.main-header ul li a {
    padding: 2px 7px;
}

.main-header ul li a:hover {
    background: #efefef;
    color: #000;
}

.main-footer {
    height: 300px;
    line-height: 300px;
    text-align: center;
}

.gap {
    color: #999;
    margin: 0 10px;
    font-weight: 800;
}

td.gutter {
    color: #9D2E2E;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid #e9e9e9;
}

td.code {
    padding-left: 8px;
}

.content-wrap {
    background: #FFFFFF;
}

.content-wrap a {
    border-bottom: 1px solid #ccc;
}

.content-wrap h3, .content-wrap h4, .content-wrap h5, .content-wrap h6 {
    font-weight: 600;
}

.content-wrap a:hover {
    border-bottom-color: #333;
    color: #333;
}

.article-directory {
    background: #F7F7F7;
    border: 1px dashed #666;
}

.article-directory ol.toc {
    padding-top: 10px;
    padding-bottom: 10px;
}

.article-directory li.toc-item {
    line-height: 30px;
}

.article-header a {
    border-bottom: none;
}

.article-meta {
    margin-top: -5px;
}

.article-content, .tags-content {
    font-size: 14px;
    padding: 10px 0 50px;
}

.article-tag-link::before {
    content: ' # ';
    font-size: 12px;
}

.tags-content a {
    margin: 10px;
}

.tags-content a::before {
    content: '# ';
}

a.toc-link {
    border-bottom: none;
}

.scroll-to-top {
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: #dfdfdf;
    border-radius: 50%;
    text-align: center;
    color: #666;
}

.scroll-to-top i {
    font-size: 12px;
}

@media (max-width: 550px) {
    .search-form {
        display: none;
    }
}

.search-form-input {
    float: right;
    height: 20px;
    border: none;
    color: #666;
    border-bottom: 1px solid #ccc;
    margin-top: 40px;
    width: 150px;
    padding-left: 22px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAANwAAADcBYx2BhQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFtSURBVDiNpZO/SgNBGMRnPuVI6QsEGyuJmmQ3V9pIfIQUFhZX+AABS8FCO/EBAlr6AJZqGYPehTQiiJBCBMs0Nql2bC5iLqIRBxaW3Z3ffrN/KAn/0WJxoF6vb5pZAsADKAN4kJRKOhkMBm/F9TbpVCqVyDl3amYXAO4B7IYQVgAckByb2cB7v1MEcBLBOXdKcjWKop1erzcqLozjuBpCuDSzJE3TmylAXvZFFEXr35kn8t5vA+iUSqW1brf7/hkhz3z8kxkA+v3+FYCn8Xi8VTwDn+eeR7eSfBFQDiG8zuMm+WJmy0XAg5lV5gFI2pD0PAWQlAJo/mZutVoLAJok74qAEwBJHMfVnwDD4bAtaZRl2fUUIH9h7RDCZX5VMzs75/ZJHpG8+TrHr38hN58BeARwS/JF0gaApqRRbj4kuZdl2fkMAABqtdqSmW2TrJIsS3omeTcpu9FoJJI6nxBJf27e+8Q515E0W8Ff9QH9qMrXMGerDgAAAABJRU5ErkJggg==) no-repeat scroll 0 0px;
}

.search-form-input:focus {
    border-bottom-color: #333;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAANwAAADcBYx2BhQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEbSURBVDiNpdO9SoMxFMbx37HgJojgUhBvQFDEuSDYzk4OHR2EXoCbgpNjL0BQBG/CwcFBQV3VxcmvwUlwFIQ4NC2vb6utGsiQnPP8k/OcJFJK/jPGyhsRUYuIw4i4iYi3iDiLiHZEVAcSUkryLcbRxjNaWMQ0lrGLFzS7+T1dAdDGMabKSTm+gEes9AFQyycPFBcgDdxjogw4ROsncQFyjNXuumviEi5HNP4853/pwgyeRgQ8YLYMuMbciIB53JUBV6gPU0ZEJedd9DazMVWdPi8MMXATp9+9g6ZOnxsDhJUsfsdWMRbFvxARDezjVsfth1xzHa84wQ42UkoHvRJKp01iTef5HmEb9UJ8HR9Y/1LCb2aG7PWV8JfxCec5IaV0J3cMAAAAAElFTkSuQmCC) no-repeat scroll 0 0px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.hljs {
    background: #f7f7f7;
}
