body {
    position: relative;
    font-family: Lato, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', "lucida grande", Arial, "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 16px;
    line-height: 2;
    color: #555;
    background: #f1f4f6;
}

a {
    color: #555;
    text-decoration: none !important;
}

li {
    list-style: none;
}

.title2 {
    color: #555;
}

.title1 {
    color: #F5871F;
}

.title1, .title2 {
    letter-spacing: 1px;
    font-size: 1.5em;
    font-weight: 600;
}

.title1 a {
    letter-spacing: 1px;
    color: #F5871F;
}

.title1 a:hover {
    color: #555;
}

.text-muted {
    color: #888;
}

.hljs {
    background: #f7f7f7;
}

.main-header, .main-footer {
    height: 300px;
    line-height: 300px;
}

.gap {
    color: #555;
    margin: 0 10px;
    font-weight: 800;
}

td.gutter {
    padding-left: 10px;
    padding-right: 15px;
}

.content-wrap {
    background: #FFFFFF;
}

.article-directory {
    background: #F7F7F7;
    border: 1px dashed #F5871F;
}

.article-directory ol.toc {
    padding-top: 20px;
    padding-bottom: 10px;
}

.article-directory-hash {
    font-size: 30px;
    margin-right: 18px;
    font-weight: 800;
    color: #555;
}

.article-header {
    border-bottom: 1px solid #efefef;
    padding-bottom: 5px;
}

.article-meta {
    padding: 15px 0;
}

.article-content, .tags-content {
    padding: 30px 45px;
}

.tags-content a {
    margin: 10px;
}

.cover-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.4;
    z-index: 99999;
}

/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

@keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

.hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.hvr-ripple-out:before {
    content: '';
    position: absolute;
    border: #e1e1e1 solid 6px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-radius: 50%
}

.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
    -webkit-animation-name: hvr-ripple-out;
    animation-name: hvr-ripple-out;
}

/* Effect 4: bottom border enlarge */
.cl-effect-4 a {
    position: relative;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
}

.cl-effect-4 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #555;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-5px);
}

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after {
    height: 1px;
    opacity: 1;
    transform: translateY(0px);
}

/* Effect 4: bottom border enlarge End*/