<div class="container content-wrap">

    <% page.posts.each(function(page){ %>
    <%- partial('_partial/article', {post: page, index: true}) %>
    <% }) %>

    <%- partial('_partial/pagination', {page: page}) %>
</div>