<div class="container content-wrap">
    <div class="row">
        <div class="col-md-12">
            <article class="article">
                <header class="article-header">
                    <h2 class="title2 title3"><%- page.title %></h2>
                </header>

                <% if (is_current('about') ){ %>
                    <%- partial('about.ejs',{post:page}) %>
                <% } %>

                <% if (is_current('links') ){ %>
                    <%- partial('links.ejs',{post:page}) %>
                <% } %>

                <% if (is_current('tags') ){ %>
                    <%- partial('tags.ejs') %>
                <% } %>

            </article>

        </div>
    </div>
</div>


